<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="javascript.js" defer></script>
    <title>SaveSite</title>
</head>
<body>
<div class="container">
<H1 title="SaveSite"> SaveSite </H1>

<a href="..\Login\index.html">Back</a>
</div>

<div class="box">
    <h1>Cadastro</h1>

    <form action="">
        <input type="text" class="login" placeholder="login">
        <input type="password" class="password" placeholder="Password">
        <button type="submit">Submit</button>
    </form>
</div>   
</body>
</html>