*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.box{
    background-color: black;

    color: rgb(63, 136, 136);
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}